{% extends 'subir/base.html' %}

{% load static %}


{% block title %}
Album

{% endblock %}
       
        {% block tabactive1 %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">INICIO</a>
        </li>
        
    <!-- tab de ve a cocinar! -->  
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cocinar' %}">VE A COCINAR!</a>
        </li>  
      
    <!-- tab de album -->    
      
        <li class="nav-item">
            <a class="nav-link  active" href="{% url 'album'%}" @click="aparecersecionxd">ALBUM</a>  
        </li>
        

            <li class="nav-item">
                <a class="nav-link"  href="/usuario/siguiendo/{{ user.username }}/">SIGUIENDO</a>  
            </li>

        
        {% endblock %}



    {% block contenedorotros %}

    <form method="POST" action="{% url 'secciones' %}">
 
       {% csrf_token %}
        <input type='hidden' id='albuminput' name="inputalbum">
   
   
            

            <div id="nav-album"> 
             <div class="hidden-xl-up" id="album_demastamanos">  
                <div class="row">
                    <div class="col-12 col-md-5">
                             <div class="card">
                             
                             
                            <input @click="albunes('veganos')" type="image" name="submit" src="{% static 'subir/img/veganos2.jpg' %}">
                                    <!--veganos-->
                            

                            </div>
                        
  
                    </div>
                    
                    <div class="col-12 col-md-5">
                            
                            <div class="card">
                              
                               <input @click="albunes('comidas rapidas')" type="image" name="submit"  src="{% static 'subir/img/comida-rapida2.jpg' %}" class="card-img img-fluid" alt="Card image">
                                

                                    <!--comidas rapidas -->
                            </div>
                 
                    </div>
                    
                    
                    
                    
                </div>
                
                <div class="row justify-content-end">
                    <div class="col-12 col-md-5">
                       
                        <div class="card">
                              
                               <input @click="albunes('tercera')"  type="image" name="submit" src="{% static 'subir/img/tercera-edad2.jpeg' %}" class="card-img img-fluid" alt="Card image">

                            </div>
                        
            
                        
                    </div>
                    
                    <div class="col-12 col-md-5">
                       
                        <div class="card">
                          
                           <input @click="albunes('niños')" type="image" name="submit"  src="{% static 'subir/img/ni%C3%B1os-comiodas2.jpg' %}" class="card-img img-fluid" alt="Card image">
                            <!--niños-->
                            
                        </div>
                    
                    </div>
                    
                    
                    
                </div>
                
                
      


                
                <div class="row">
                    <div class="col-12 col-md-5">
                     
                        <div class="card">
                           <input @click="albunes('desayuno')" type="image" name="submit" src="{% static 'subir/img/dsayuno-comidas2.jpg' %}" class="card-img img-fluid" alt="Card image">
                                 <!--desayuno-->
                           
                        </div>
                        
  
               
                    </div>
                    
                    <div class="col-12 col-md-5">
                     
                        <div class="card">
                           <input @click="albunes('almuerzo')" type="image" name="submit" src="{% static 'subir/img/almuerzo-comidas2.jpg' %}" class="card-img img-fluid" alt="Card image">
                              <!--almuerzo-->
                        </div>
                     
                        
                    </div>
                    
                    
                    
                </div>
                
                                
                <div class="row justify-content-end">
                    <div class="col-12 col-md-5">
                    
                        <div class="card">
                           <input @click="albunes('cena')" type="image" name="submit"   src="{% static 'subir/img/cena-comidas2.jpg' %}" class="card-img img-fluid" alt="Card image">
                                
                                <!--cena-->
                        </div>
                   
  
                        
                    </div>
                    
                    <div class="col-12 col-md-5">
                  

                        <div class="card">
                           <input @click="albunes('veganos')" type="image" name="submit"  src="{% static 'subir/img/veganos2.jpg' %}" class="card-img img-fluid" alt="Card image">
                                
                                <!--veganos-->
                        </div>
                 
                    </div>
                    
                    
                    
                </div>
            
            
            </div>
            <!-- ver seccion del album en un tamaño extra extra largo-->
             <div class="hidden-lg-down">  
                <div class="row justify-content-xl-center" id="album-xl">
                    <div class="col-auto my-2 mx-2">
                             
                             <div class="card">
                             
                             
                            <input @click="albunes('veganos')" type="image" name="submit" src="{% static 'subir/img/veganos2.jpg' %}">
                                    <!--veganos-->
                            

                            </div>

  
                        
                       </div>
                    
                    <div class="col-auto my-2 mx-2">
                          
                            <div class="card">
                              
                               <input @click="albunes('comidas rapidas')" type="image" name="submit"  src="{% static 'subir/img/comida-rapida2.jpg' %}" class="card-img img-fluid" alt="Card image">
                                

                                    <!--comidas rapidas -->
                            


                            
                
                    </div>
                    
                    
                    
                    </div>
          
                
                    <div class="col-auto my-2 mx-2">
                       
                            <div class="card">
                              
                               <input @click="albunes('tercera')"  type="image" name="submit" src="{% static 'subir/img/tercera-edad2.jpeg' %}" class="card-img img-fluid" alt="Card image">

                            </div>
                        
                      
                    </div>
                    
                    <div class="col-auto my-2 mx-2">
            
                        <div class="card">
                          
                           <input @click="albunes('niños')" type="image" name="submit"  src="{% static 'subir/img/ni%C3%B1os-comiodas2.jpg' %}" class="card-img img-fluid" alt="Card image">
                            <!--niños-->
                            
                        </div>
                
                    </div>
                    
                    
       
                    <div class="col-auto my-2 mx-2">
                         
                        <div class="card">
                           <input @click="albunes('desayuno')" type="image" name="submit" src="{% static 'subir/img/dsayuno-comidas2.jpg' %}" class="card-img img-fluid" alt="Card image">
                                 <!--desayuno-->
                           
                        </div>
                        
  
                    
                    </div>
                    
                    <div class="col-auto my-2 mx-2">
                         
                        <div class="card">
                           <input @click="albunes('almuerzo')" type="image" name="submit" src="{% static 'subir/img/almuerzo-comidas2.jpg' %}" class="card-img img-fluid" alt="Card image">
                              <!--almuerzo-->
                        </div>
    
                        
                    </div>
                    
                    

                
                
                    <div class="col-auto my-2 mx-2">
                     
                        <div class="card">
                           <input @click="albunes('cena')" type="image" name="submit"   src="{% static 'subir/img/cena-comidas2.jpg' %}" class="card-img img-fluid" alt="Card image">
                                
                                <!--cena-->
                        </div>
                        
                    </div>
                    
                    <div class="col-auto my-2 mx-2">
                 
                        <div class="card">
                           <input @click="albunes('veganos')" type="image" name="submit"  src="{% static 'subir/img/veganos2.jpg' %}" class="card-img img-fluid" alt="Card image">
                                
                                <!--veganos-->
                        </div>

                    </div>
                    
                </div>   

            
            
            </div>
            
            
            
            </div>
            </form> 
        

{% endblock %}


{% block scriptsexternos %} 
<script src="{% static 'subir/js/buefy22.js' %}"></script>
<script type="text/javascript" src="{% static 'subir/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'subir/js/bootstrap.min.js' %}"></script>

{% endblock %}