{% load static %}


                                 
        <div class="col-2 px-2 mx-0 mb-2 align-self-center">

             <h1 class="mr-4" style="font-family:'podio';color:orange;">   1 </h1>

        </div>
                  
        
        <div class="col-10 px-2 mx-0 mb-2" style="background:rgba(255,255,255,0.9);">

                <img src="{% static 'subir/img/interrogacion.png'%}" class="img-fluid my-2 img" width="29%">

        </div>   
        

                      
             <div class="col-2 px-2 mx-0 mb-2 align-self-center">

                <h1 class="mr-4" style="font-family:'podio';color:orange;">2 </h1>

        </div>
                      

        <div class="col-10 px-2 mx-0 mb-2" style="background:rgba(255,255,255,0.9);">

                <img src="{% static 'subir/img/interrogacion.png'%}" class="img-fluid my-2 img" width="29%">

        </div>
        
        
            
        <div class="col-2 px-2 mx-0 mb-2 align-self-center">

                <h1 class="mr-4" style="font-family:'podio';color:orange;">3</h1>

        </div>   
        

        <div class="col-10 px-2 mx-0 mb-2" style="background:rgba(255,255,255,0.9);">

                <img src="{% static 'subir/img/interrogacion.png'%}" class="img-fluid my-2 img" width="29%">

        </div>
       

   

    
        
   
        
    
                           

   





   
             

