{% extends 'subir/base_recuperar.html' %}
            
{% load static %}
             
             
             
             {% block contenidorecuperar %}
             
            <h4 class="display-4 text-muted col-sm-10 px-0">Recuperacion de contraseña Fallida</h4>
                 
            <p class="text-justify col-sm-10 px-0">
            el enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se utilizó. Solicite un nuevo restablecimiento de contraseña.
            
            </p>
        
             
             
          {% endblock %}