{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'subir/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'subir/css/recuperar_contrasenia3.css' %}"> 
    <script src="{% static 'subir/js/vue.js' %}"></script> 
    <title>Recuperar contraseña</title>
</head>
<body>




<div id="contenedor" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 my-4">

        <nav class="navbar hidden-sm-down" style="border-top-left-radius: 5px;border-top-right-radius: 5px;background: #B9D8D8;">


                <div class="row justify-content-sm-center justify-content-lg-start">
                <div class="col-7">
                <img src="{% static 'subir/img/neveraveacocinar.png' %}" width="80px" class="d-flex float-left"  width="100px" height="100px">  
           

                
                 <h4 class="navbar-brand display-4 text-white"  style="font-size:45px;">Tu Nevera</h4> 
                        
                    </div>   
                    
                        <div class="col-5">
                            
                            <p class="text-white text-right my-4" style="font-size: 16px;">Olvidastes tu contraseña? , descuida nosotros de ayudamos</p>  
                            
                        </div>      
              
                </div>

        </nav>
                        
        <div class="card px-4" style="border-radius: 0px;">
                        <h4 id="titulo" class="display-4  my-4">HOLA TOÑO</h4>  
            <div class="card-body mb-4 py-4 d-flex justify-content-center rounded" style="background:#79AEC8;">
                                
            <p class="text-justify col-sm-10 px-0">
            
                está recibiendo este correo por que solicitó un restablecimiento de contraseña para su cuenta de usuario en 127.0.0.1:8000

                por favor vaya a la siguiente página y elija una nueva contraseña <br>
                <br>


                <a href="" class="btn btn-secondary
                 d-flex justify-content-center">Click aca para reestablecer contraseña</a>
                <br>

                su nombre de usuario, en caso de que lo haya olvidado: nombre


               
            </p>
            </div>
                            
        </div>
                         
        <nav class="navbar hidden-sm-down" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;background: #B9D8D8;">

             <strong>El equipo de Tu nevera</strong>
             <p class="my-0"><strong>Envianos un mensaje: </strong>tunevera.official@gmail.com  </p>
            
          

        </nav>
       
          
        </div>
        
        
        
      

            
   

  
    </div>  
</div> 


<script src="{% static 'subir/js/jquery-3.3.1.min.js' %}"></script>   
<script src="{% static 'subir/js/bootstrap.min.js' %}"></script>
      
    
</body>
</html>