{% extends 'subir/base.html' %}

{% block title %}

Veganos

{% endblock %}

{% load static %}

        <!-- nav en tamaño pequeño para adelante-->
        {% block tabactive1 %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">INICIO</a>
        </li>
        <!-- tab de ve a cocinar! -->  
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cocinar' %}">VE A COCINAR!</a>
        </li>  
      
        <!-- tab de album -->    
      
        <li class="nav-item">
            <a class="nav-link" href="{% url 'album'%}">ALBUM</a>  
        </li>
        
   
        <li class="nav-item">
            <a class="nav-link"  href="/usuario/siguiendo/{{ user.username }}/">SIGUIENDO</a>  
        </li>
      
        
        {% endblock %}



    {% block contenedorotros%}

       <div class="row">
       
        {% for x in tt %}
        
        
                <div class="col-12 col-md-4 col-lg-3 my-3 hidden-sm-down">
                    <div class="card  mr-3 px-2 py-2 " style="-webkit-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.75);
                    box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.75);">
                            
                    <img src="{{x.imagen.url}}" class="card-img-top img-fluid">
                    <h4 class="card-header">{{x.nombre}}</h4>
                    <div class="card-body py-2">

                    <p style="font-size: 14px;">
                    
                    {% if x.user.Profile2.imagen %}
                        <img src="{{x.user.Profile2.imagen}}" width="20%" class="mt-2">
                     {% else %}
                         <img src="{% static 'subir/img/chef.png' %}" width="20%" class="mt-2">
                     {% endif %}
                     
                      <a href="{% url 'usuario:profile' x.user %}">{{x.user}}</a>
                       </p>     
                                       
                         <p class="card-text" style="font-size: 14px;">
                        Tiempo de preparacion: {{x.preptimes}}
                        <br>
                         Tiempo de coccion: {{x.coctime}}
                         </p>
                         

                   
                        <a href="{% url 'receta_detalle' x.pk %}" class="btn btn-warning btn-block"> Ir a la receta! </a>
                    </div>
                    
                  

                </div>
        </div> 
                
        <div class="col-12 hidden-md-up hidden-xs-down mb-3">                       
                              
                    <div class="card " style="-webkit-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.75);
                    box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.75);">
                            
                    
                    <h4 class="card-header">{{x.nombre}} </h4>
                    <div class="card-body py-2">
                      <div class="row">  
                        <div class="col-5 align-self-center">
                            <img src="{{x.imagen.url}}" width="90%" class="px-2 mx-2">
                            
                        </div>
                        
                        <div class="col-7 my-3">
                            <p>
                                {% if x.user.Profile2.imagen %}
                                    <img src="{{x.user.Profile2.imagen}}" width="20%" class="mt-2">
                                 {% else %}
                                     <img src="{% static 'subir/img/chef.png' %}" width="20%" class="mt-2">
                                 {% endif %}
                                 
                                  {{x.user}}
                            </p>     

                            <p class="card-text pr-3">
                                    Tiempo de preparacion: {{x.preptimes}}
                                    <br>
                                     Tiempo de coccion: {{x.coctime}}
                                     <br>
                                     
                                      <a href="{% url 'receta_detalle' x.pk %}" class="btn btn-warning btn-block mt-2"> Ir a la receta! </a>
                            </p>
                            
                           
                            
                        </div>
                    </div>
                           
                     
                         

                
                    </div>
                    
                  

                </div>
                           
               
            </div>    
                           
                <div class="col-12 mb-3 hidden-sm-up">
                    <div class="card  mr-3 px-2 py-2 " style="-webkit-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.75);
                    box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.75);">
                            
                    <img src="{{x.imagen.url}}" class="card-img-top img-fluid">
                    <h4 class="card-header">{{x.nombre}} </h4>
                    <div class="card-body py-2">

                    <p style="font-size: 14px;">
                     {% if x.user.Profile2.imagen %}
                        <img src="{{x.user.Profile2.imagen}}" width="20%" class="mt-2">
                     {% else %}
                         <img src="{% static 'subir/img/chef.png' %}" width="20%" class="mt-2">
                     {% endif %}
                      {{x.user}}
                       </p>     
                                       
                         <p class="card-text" style="font-size: 14px;">
                        Tiempo de preparacion: {{x.preptimes}}
                        <br>
                         Tiempo de coccion: {{x.coctime}}
                         </p>
                         

                   
                        <a href="{% url 'receta_detalle' x.pk %}" class="btn btn-warning btn-block"> Ir a la receta! </a>
                    </div>
                    
                  

                </div>
                        
            </div>
    
        


    {% endfor %}
    </div>
{% endblock %}


{% block scriptsexternos %}
<script src="{% static 'subir/js/buefy22.js' %}"></script>
<script type="text/javascript" src="{% static 'subir/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'subir/js/bootstrap.min.js' %}"></script>
{% endblock %}