{% extends 'subir/base.html' %}


{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>

{% block title %}Subir receta{% endblock %}


<html lang="en">

        {% block tabactive1 %}
        <!-- tab de inicio -->  
       <li class="nav-item">
            <a class="nav-link"  href="{% url 'index' %}" >INICIO</a>
        </li>

    <!-- tab de ve a cocinar! -->  
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cocinar' %}" >VE A COCINAR!</a>
        </li>  
      
    <!-- tab de album -->    
      
        <li class="nav-item">
            <a class="nav-link"  href="{% url 'album' %}">ALBUM</a>  
        </li>
        
        <li class="nav-item">
            <a class="nav-link"  href="/usuario/siguiendo/{{ user.username }}/">SIGUIENDO</a>  
        </li>
        
        {% endblock %}
        
        



 {% block contenedorotros %}

    
<form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        
  <div class="row">
        <div class="col">
        <h2 class="display-4">Subir receta</h2>



<input type="text" class="form-control" style="display:none;" placeholder="ingredientes" :value="acom" id={% render_field form.ingredientes %}

<input type="text" class="form-control" style="display:none;" placeholder="tags" :value="tags" id={% render_field form.tags %}

<span style="display:none;">
{% render_field form.user %}
</span>
  
    <input type="hidden" value="{{idlogueado}}" id="idusuario">
    
<div class="form-group row my-2">
            
              <div class="col-12 col-md-4 my-2">
                    <strong>Nombre de la receta </strong>
                    <input type="text" v-model="mailnom" class="form-control mt-2" placeholder="Nombre" id={% render_field form.nombre %}
                </div>

            

            <div class="col-12 col-md-4 my-2">

                <strong>Categoria de la receta</strong>
                <!-- aca empieza el collapse de categoria-->



                <categorias :listacategorias="listacategorias" style="width:100%;">

                </categorias>

                  <script type="text/x-template" id="categorias-template">

                  <select required="required" name={% render_field form.categorias %}
                    <slot></slot>
                  </select>

                </script>



            </div>



            <div class="col-12 col-md-4 my-2">

                <strong class=""> Album de la receta</strong>



                <album :listaalbum="listaalbum" style="width: 100%;">

                </album>

                <script type="text/x-template" id="album-template">

                <select required="required" name={% render_field form.album %}>
                <slot></slot>
                </select>

                </script>

            </div>
            
            
    <div class="col-12 my-0">

        <strong> Imagen de receta: </strong>  
        <div class="input-group mt-2">
                <input type="text" class="form-control" style="height: 38px;" readonly>
                <label class="input-group-btn">
                <span class="btn btn-warning">Buscar

                <input onchange="verificar()" type="file" class="mr-3" style="display: none;" id={% render_field form.imagen %}
                &nbsp;
                <i class="fas fa-search"></i>
                </span>
                </label>
        </div>
        <span id="verificar" class="text-danger"></span>

    </div>
                  
             <div class="col-12 my-2">
                                   <strong class="hidden-sm-up">Agregar Ingrediente</strong>
                                    <button type="button" class="mt-2 btn btn-info btn-block" @click="agregar">
                                    <p class="my-0 hidden-xs-down"><i class="fas fa-plus-circle mr-1"></i>Agregar Ingrediente </p>
                                        <p class="my-0 hidden-sm-up">Agregar<i class="fas fa-plus-circle ml-1"></i> </p>
                                    </button>
                                     <div class="sortable">
                                <mostraringredientes v-for="(l,index) in lista" v-bind:key="l.id" v-on:remove="lista.splice(index, 1)"> </mostraringredientes>          
                                    </div>  

                    </div>                
                   

</div>

    
   
           
           
<div class="form-group row">
          
    <div class="col-12">
        <strong>Instrucciones:</strong>
        <textarea class="form-control mb-2" rows="5" style="max-height:500px;min-height:100px;" required="required" id={% render_field form.instrucciones %}


        </textarea>

    </div> 
         
                
      <div class="col-12 col-md-6">

       <strong><label>Preparacion:</label></strong>

        <input type="text" class="form-control" id={% render_field form.preptimes %}

    </div>                          
          
     
 <div class="col-12 col-md-6">
                <strong><label>Tiempo de coccion:</label></strong>

                   <input type="text" class="form-control" id={% render_field form.coctime %}

    </div>                  
           
                   
                   <div class="col-12">
                        
                        <p class="my-2"><strong>TAGS</strong><small class="text-muted ml-3">(Luego de escribir el TAG pulsa enter para agregarlo)</small></p>
                        
                                 <b-field label="" type="is-info">
                                    <b-taginput
                                        v-model="tags"
                                        type="is-info">
                                    </b-taginput>
                                </b-field>

                        
                    </div>

 
    <div class="col-12">                    
        <p class="my-2">
        <strong>Informacion Nutricional: </strong>
        <small class="text-muted ml-3">(Informacion opcional)</small> 
        </p>
    </div>

    <div class="col-12 col-md-4">
        <strong>Calorias</strong>
        <input type="text" name="calorias"  class="form-control mt-2" id={% render_field form.calorias %}
    </div>

    <div class="col-12 col-md-4">
        <strong>Proteinas</strong>
        <input type="text" name="proteinas"  class="form-control mt-2" id={% render_field form.proteinas %}
    </div>

    <div class="col-12 col-md-4">
        <strong>Carbohidratos</strong>
        <input type="text" name="carbohidratos"  class="form-control mt-2" id={% render_field form.carbohidratos %}
    </div>                                   

           
</div>


        
      <!--   Asunto -->
        
        <input type="text" value = "Nueva receta" placeholder="Asunto"  class="form-control mt-2" readonly="readonly" style="display:none;" id={% render_field form2.Asunto %}
        

          <!--   Nombre -->
            
            <input type="text" placeholder="Nombre" :value="mailnom" class="form-control mt-2" readonly="readonly" style="display:none;" id={% render_field form2.Nombre %} 

           <!--  Correo -->
            
            <input type="text" value = "nuevareceta@mail.com"  class="form-control mt-2" readonly="readonly" style="display:none;" id={% render_field form2.Correo %}

            
        <input type="text" :value = "mailnom"  class="form-control mt-2" readonly="readonly" style="display:none;" id={% render_field form2.Contenido %}



    <button id="verificardato" type="submit"  class="btn btn-info btn-block" onclick="poner_usuario()" @click="mandartime"><i class="fas fa-upload mr-1"></i>Subir receta!</button>


</form>
</div>
</div>

  
    

 {% endblock %}





{% block scriptsexternos %}
    
<script src="{% static 'subir/js/buefy22.js' %}"></script>
<script type="text/javascript" src="{% static 'subir/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'subir/js/select2.min.js' %}"></script>
<script src="{% static 'subir/js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'subir/js/bootstrap.min.js' %}"></script>

{% endblock %}



</html>
