

body{
    
      background-image: url(../img/fondo_web_indexes.png);
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
    
}



@font-face {
font-family: "Hot-Legend";
src: url(../fuente/Hot-Legend2.otf) format("opentype");
}


#titulo{
    
    font-family: "Hot-Legend";
}
