{% extends 'subir/base.html' %}

{% load static %}

{% block titulo %}TuNevera - {{ user.get_full_name }}{% endblock %}
{% block textarea %}{{ user.username }} {% endblock %}


  <!-- nav en tamaño pequeño para adelante-->
        {% block tabactive1 %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">INICIO</a>
        </li>
    <!-- tab de categorias --> 
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'categorias' %}">CATEGORIAS</a>
        </li>  
        
    <!-- tab de ve a cocinar! -->  
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cocinar' %}">VE A COCINAR!</a>
        </li>  
      
    <!-- tab de album -->    
      
        <li class="nav-item">
            <a class="nav-link" href="{% url 'album'%}">ALBUM</a>  
        </li>
        {% endblock %}


{% block contenido %}




<div class="modal fade" id="modalfoto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content" style="background:none;border: none;">
       <div class="modal-header d-flex justify-content-end">
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size:50px;" class="text-white">&times;</span>
        </button>
   </div>
   
      <img src="{% static 'subir/img/fondo_web.jpg' %}" class="img-fluid" width="1280px">
      
      <div class="modal-footer d-flex justify-content-center text-white">
          
          <h4>nombre foto</h4>
      </div>
    </div>
  </div>
</div>


           <div class="card bg-faded">
                    
                   <div class="card-block">
                      
                   <div class="row justify-content-center">
        
                    <div class="col-10 col-md-auto align-self-center img-fluid"> 
                           
                           <div class="card bg-faded" style="border:none;">
                       
                                <img src="{% static 'subir/img/fondo_web.jpg' %}" class="my-3 img-fluid" width="500px" data-toggle="modal" data-target="#modalfoto" style="cursor: pointer;">
                               
                            </div>
                               <div class="w-100"></div>
                           
                           
                               <h6 class="text-center">
                               <button style="cursor:pointer;" type="button" class="btn btn-link" data-toggle="modal" data-target="#modalfoto"> Ver foto</button>
                               </h6>
                               
                               <div class="btn-group d-flex justify-content-center">
                                   
                                    <a class="btn btn-secondary" href="#recetas">{{ length }} Receta{{ length|pluralize }}</a>
				                    <a class="btn btn-secondary" href="/usuario/seguidores/{{ user.username }}/">{{ seguidores|length }} seguidores</a>
				                    <a class="btn btn-secondary" href="/usuario/siguiendo/{{ user.username }}/"> siguiendo</a>
                       
                       
                               </div>
                        
                      
                       </div> 
                       
                       
                       
                       
              
                       
                       
                       
                     
                       <div class="col-12 col-md-5 my-4 fuenteennegrilla">
                     <strong class="my-2 h4 text-uppercase"><p class="text-center">{{ user.username }}</p>  </strong> 
                     <hr>
                     <p> <strong class="mr-2 h4"> CIUDAD: </strong> {{ profile.ubicacion }}</p>
                      <hr>
                     <p> <strong class="mr-2 h4"> ULTIMA VEZ INGRESADO: </strong> {{ user.date_joined }}</p>
                      <hr>
                     <p> <strong class="mr-2 h4"> CORREO: </strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                      <hr>
                     <p> <strong class="mr-2 h4 text-uppercase"> ACERCA DE {{ user.username }}: </strong> {{ profile.frase|linebreaksbr }}</p>
                      <hr>
                      
                      
                      
                      
        {% if logueado.is_authenticated %}
		{% if logueado != user %}
			<form action="/usuario/follow/" method="post">
				{% csrf_token %}
				<input type="hidden" name="user" value="{{ user.username }}">
				
				<p>
				<br>

						<input class="btn btn-secondary btn-block" type="submit" value="Seguir">
					
				</p>
				
			</form>
		{% endif %}
		{% endif %}
                               
                        </div>
         
                    </div>
         
                </div>
               </div>

                      <div class="row">
                          
                          <div class="col">
                              
                         {% if recetas|length %}
                                <header id="recetas">
                                    <h2>Ultimas recetas</h2>
                                </header>
                                {% for receta in recetas %}
                                    <article>
                                        <header>
                                            <h3>{{ receta.user.get_full_name }} (<a href="/usuario/profile/{{ receta.user }}">{{ receta.user }}</a>)</h3>
                                        </header>
                                        {{ receta.contenido|safe|linebreaksbr }}
                                        <footer>
                                            <p>

                                                <strong>Publicado: {{ receta.fecha }}</strong>

                                                {% if receta.user == logueado %}
                                                    <a href="/usuario/borrar/{{ receta.id }}/">Borrar</a>
                                                {% endif %}
                                            </p>
                                        </footer>
                                    </article>
                                {% endfor %}
                            {% else %}
                                <header><h3>No se ha cocinado nada todavia</h3></header>
                            {% endif %}
                          </div>
                      </div> 













	

{% endblock %}




{% block scriptsexternos %}
<script src="{% static 'subir/js/buefy22.js' %}"></script>
<script type="text/javascript" src="{% static 'subir/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'subir/js/bootstrap.min.js' %}"></script>
{% endblock %}