{% extends 'subir/base_recuperar.html' %}


{% load static %}
             
            
{% block contenidorecuperar %}
             
    <h4 class="display-4 text-muted col-sm-10 px-0">Recuperar contraseña</h4>
                 
    <p class="text-justify col-sm-10 px-0">Le enviamos por correo electrónico instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó, debe recibirla en breve.
    Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y revise su carpeta de correo no deseado.</p>
             
{% endblock %}
      
        
        
      

            