


{% extends 'subir/base_recuperar.html' %}
            
{% load static %}
             
{% block title %}
    Confirmacion Recuperacion
{% endblock %}           
             
             {% block contenidorecuperar %}
             
            <h4 class="display-4 text-muted col-sm-10 px-0">Ingrese una nueva contraseña</h4>
                 
            <p class="text-justify col-sm-10 px-0">
              por favor ingrese una nueva contraseña, nosotros verificaremos que este correcta
            
            </p>
            
            
            <form method="post">
                   {% csrf_token %}
                    <div class="form-group row px-3">
                    <div class="col-auto align-self-center" style="margin-right:58px;">
                        <strong class="">Nueva contraseña</strong> 
                    </div>
                    <div class="col-auto">

                    <div class="form-group"  :class="{'has-success':coinciden,'has-danger':nocoinciden}">
                        <input type="password" @keyup="validacionclave" class="clave form-control" :class="{'form-control-success':coinciden,'form-control-danger':nocoinciden}" pattern="^(?=\w*\d)^([A-Za-z])\S{8,16}$" maxlength="30" required id={{form.new_password1}}
                    </div>
                   </div>       

                    <div class="w-100 my-2"></div>            

                    <div class="col-auto align-self-center" style="margin-right:30px;">
                        <strong class="">Confirmar contraseña</strong> 
                    </div>
                    <div class="col-auto">

                    <div class="form-group" :class="{'has-success':coinciden,'has-danger':nocoinciden}">
                        <input id="confirmacionclave" type="password" @keyup="validacionclave" class="clave form-control" :class="{'form-control-success':coinciden,'form-control-danger':nocoinciden}"  id={{form.new_password2}}
                        <span class="form-control-feedback" v-show="coinciden">Las contraseñas coinciden</span>
                        <span class="form-control-feedback" v-show="nocoinciden">Las contraseñas no coinciden</span>
           
                    </div>
                   </div>

                </div>

                <hr class="hidden-xs-down">
                <button type="submit" class="btn btn-warning hidden-sm-down">Cambiar contraseña</button>   
                <button type="submit" class="btn btn-warning btn-block hidden-md-up">Cambiar contraseña</button>   

             </form>
             
             
            <script>
new Vue({
    el:'#contenedor',
    data:{
        
        validacion:false,
        error:false,
        validacion2:false,
        error2:false,
        validacion3:false,
        error3:false,
        coinciden:false,
        nocoinciden:false

    },
    methods:{     
        validacionclave(){
            

                
             var val1 = $('.clave').val()
             var val2 = $('#confirmacionclave').val()

          
             
//nu
                    
            if(val1==val2){
                
                if(val1!=""){
                    this.coinciden=true
                    this.nocoinciden=false
                }
            }
            
                        
            else if(val1=="" || val2==""){
                this.coinciden=false
                this.nocoinciden=false
                
            }
            
            
            else if(val1!=val2){
                this.coinciden=false
                this.nocoinciden=true
            }


    } 
        
    }
    
    
})    
    
</script>    
         
             
          {% endblock %}